<!DOCTYPE html>
<html lang="en">
    <%- include( 'partials/head', { pageTitle } ) -%>
    <body>
        <%- include( 'partials/navbar', { links, current } ) -%>

        <main>
            <section class="container my-4">
                <h1>Workshops List</h1>
                <div class="row">
                    <% workshops.forEach( workshop => { %>
                        <div class="col-12 col-md-4 d-flex mb-3 js-card-workshop-col">
                            <a class="card w-100 js-card-workshop text-left text-reset text-decoration-none p-3" href="/workshop-details?id=<%= workshop.id %>" data-id="<%= workshop.id %>">
                                <img class="card-img-top" src="<%= workshop.imageUrl %>" alt="">
                                <div class="card-body">
                                    <h4 class="card-title"><%= workshop.name %></h4>
                                    <p class="card-text">
                                        <%= formatDate( workshop.startDate ) %> - <%= formatDate( workshop.endDate )%>
                                    </p>
                                    <button class="btn btn-danger btn-sm js-btn-delete-workshop">Delete</button>
                                </div>
                            </a>
                        </div>
                    <% }); %>
                </div>
            </section>
        </main>
    </body>
</html>